# <a id='toc1_'></a>[Data Analysis - Artemis Apollo mission](#toc0_)

Lesson: 04

Time: 00:00:00

---

**Resources:**

- Project source: [Plan moon mission using Python](https://learn.microsoft.com/en-us/training/modules/plan-moon-mission-using-python-pandas/) (with more details).
- Apollo history in [Wikipedia](https://fa.wikipedia.org/wiki/%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87_%D9%81%D8%B6%D8%A7%DB%8C%DB%8C_%D8%A2%D9%BE%D9%88%D9%84%D9%88).
- The raw data is scraped from [here](https://curator.jsc.nasa.gov/lunar/samplecatalog/sample_results_list.cfm) into csv file in data folder.

**Table of contents:**<a id='toc0_'></a>    
- [Data Analysis - Artemis Apollo mission](#toc1_)    
  - [01: Convert data to DataFrame](#toc1_1_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

---

## <a id='toc1_1_'></a>[01: Convert data to DataFrame](#toc0_)

In [4]:
import pandas as pd

In [6]:
samples_df = pd.read_csv('Data/rocksamples.csv')

samples_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

In [8]:
print(samples_df.shape)
samples_df.head()

(2229, 6)

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       125.8         88.36
1  10002  Apollo11    Soil  Unsieved      5629.0         93.73
2  10003  Apollo11  Basalt  Ilmenite       213.0         65.56
3  10004  Apollo11    Core  Unsieved        44.8         71.76
4  10005  Apollo11    Core  Unsieved        53.4         40.31